/* ----------- *\ 
importing fonts
\* ----------- */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Poppins:wght@500;700&display=swap');



/* ----------- *\ 
general styles
\* ----------- */
body{
    font-family: 'Poppins', sans-serif, 'roboto', Ubuntu;
    background-color: #aaaaaa0c;
}
section{
    margin: 0 120px;
}


/* ----------- *\ 
navbar styling 
\* ----------- */
.parent{
    display: flex;
    justify-content: space-between;
}
.page-name{
    font-size: 24px;
}
.unique-color{
    color: #E02C6D;
}
.nav-item>ul{
    display: flex;
}
.nav-item>ul>li{
    margin-left: 30px;
    margin-top: 30px;
    list-style-type: none;
}
.nav-item>ul>li>a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.nav-item>ul>li>a:hover{
    color: #E02C6D;
}
/* ----------- *\ 
after heading part styles here 
\* ----------- */
.two-in-one{
    display: flex;
}
.for-text{
    height: 270px;
    width: 580px;
    padding-top: 50px;
}
.influencer-title{
    font-size: 52px;
    margin: 0;
}
.dummy{
    color: rgba(37, 37, 37, 0.692);
}
.prebook{
    text-decoration: none;
    font-size: 16px;
    background-color: #E02C6D;
    padding: 8px 24px;
    border-radius: 20px;
    color: white;
}
.for-image{
    height: 440px;
    width: 410px;
    margin-left: 20px;
}
.for-image img{
    width: 100%;
}
/* ----------- *\ 
promotion part design 
\* ----------- */
.promotion{
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(rgb(146, 233, 76), rgb(214, 26, 26), rgb(22, 228, 50));
    border-image-slice: 1;
}
.promotion img{
    width: 100%;
}
.amazon, .rakuten, .walmart{
    padding-top: 8px;
}
/* ----------- *\ 
popular collection part here 
\* ----------- */
.popular-heading{
    text-align: center;
    font-size: 28px;
}
.all-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.item, .creator{
    padding: 5%;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.item img{
    width: 100%;
}
.item-name{
    font-weight: 500;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0px;
}
.item-price{
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.fa-star{
    font-size: 14px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.item-info{
    font-size: 14px;
}
.set-align{
    text-align: right;
}
.see-more{
    font-weight: 600;
    font-size: 16px;
    color: #E02C6DDE;
    text-decoration: none;
}
/* ----------- *\ 
content creator part here 
\* ----------- */
.creators{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
}
.creator img{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(56, 48, 170, 0.425);
}
.creator-name{
    font-weight: 500;
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 0px;
}
.creator-info{
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.hire-me a{
    text-decoration: none;
    color: #E02C6D;
    margin-bottom: 0px;
}